* {
    font-family: Roboto, Helvetica, Helvetica, Arial, "Helvetica Neue", "Lucida Sans", "Microsoft Yahei", "Microsoft YaHei UI", SimHei, sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

a {
    cursor: pointer;
}

span {
    cursor: default;
}

body {
    margin: 0;
    padding: 0;
}

.expand-all {
    width: 100%;
    height: 100%;
}

.absolute {
    position: absolute;
}
