.overlay {
    display: table;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    overflow-y: hidden;
    transition: 0.5s;
}

#overlay-content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;

    padding: 8px;
    font-size: 36px;
    color: #808080;
}

.overlay-prompt {
    display: block;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-name: overlay-glow;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.overlay-continue {
    display: none;
    padding: 0.4rem;
    text-decoration: none;
    color: #808080;
    border: #808080 dotted;
}

@keyframes overlay-glow {
    from {
        color: #808080;
    }
    to {
        color: #EFEFEF;
    }
}
