body {
    background-color: #14192E;
    overflow: hidden;
}

#constraint-container {
    position: fixed;
    height: 100%;
    width: 100%;
}

#flex-table tr:nth-child(1) {
    height: 65%;
}

#flex-table tr:nth-child(2) {
    height: 35%;
}

#flex-table tr:nth-child(1) td:nth-child(1) {
    width: 35%;
}

#flex-table tr:nth-child(1) td:nth-child(2) {
    width: 65%;
}

#map-tooltip-content {
    display: none;
    position: absolute;
    color: white;
    border: steelblue 1px dotted;
    border-radius: 3px;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.95);
    z-index: 2;
}

#map-tooltip-content > * {
    position: initial;
    border: initial;
    background-color: initial;
}

#map-tooltip-content-name {
    color: white;
}

#map-tooltip-content-number .highlight {
    color: #FFFA90;
}

#map-tooltip-content-number .missing {
    color: #FFDA19;
}
