body {
    background-color: #14192E;
}

#constraint-container {
    position: fixed;
    height: 100%;
    width: 100%;
}

#flex-table tr:nth-child(1) {
    height: 65%;
}

#flex-table tr:nth-child(2) {
    height: 35%;
}

#flex-table tr:nth-child(1) td:nth-child(1) {
    width: 35%;
}

#flex-table tr:nth-child(1) td:nth-child(2) {
    width: 65%;
}

#flex-table tr:nth-child(2) {
    background-color: green;
}

.d3-map {
    top: -32%;
    left: -5%;
    position: relative;
}

.boundary {
    stroke: white;
    stroke-width: 2px;
    fill: none;
}

.d3-bar {
    width: 100%;
    height: 100%;
    top: -25%;
    left: 0;
    position: absolute;
}

.bar-text {
    color: yellow;
}
